@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    background-color: rgb(156, 169, 206);
}
:root{
    --primary-color:
    black

}


.box1{
    display: flex;
    flex-direction: column;
    width: 25vw;
    text-align: center;
    /* background-color:wheat; */
    padding-bottom: 1rem;
    border-spacing: 1rem;
}

.input{
    border: 1px solid var(--primary-color);
    border-width: 0.2rem;
    padding:  9.6px 16px;
    border-radius: 0.8rem;
    margin: 1rem;
    font-weight: bold;
    font-size: 1rem;
}

#check-button{
   width: 5vw;
   padding:0.3rem;
    margin: auto;
    background-color: rgb(105, 138, 230);
    border-radius: 0.3rem;
}
#check-button:hover{
    background-color:rgb(105, 138, 230);
}

table ,th,td{
    border: 1px solid var(--primary-color);
    table-layout: fixed;
    width: 2.8rem;
    border-collapse: collapse;
}

#error-message{
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #064E3B
}

.describe{
    font-weight: 500px;
}